/* line 1, ../scss/_reset.scss */
ul {
  padding: 0;
  margin: 0; }

/* line 6, ../scss/_reset.scss */
* {
  box-sizing: border-box; }

/* line 17, ../scss/_bp.scss */
.group:after {
  content: "";
  display: block;
  clear: both; }

/* line 61, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%; }

/* line 64, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em; }

/* line 6, ../scss/_type.scss */
html {
  font-size: 100%; }

/* line 10, ../scss/_type.scss */
body {
  color: black;
  font-family: 'Raleway', arial, sans-serif;
  font-weight: 300; }

/* line 16, ../scss/_type.scss */
h1 {
  font-size: 2.66667em;
  line-height: 1.125em;
  line-height: 0.375em;
  margin-bottom: 0.75em; }

/* line 22, ../scss/_type.scss */
p {
  font-size: 1.22222em;
  line-height: 1.63636em;
  line-height: 1.22727em;
  margin-bottom: 1em; }

/* line 28, ../scss/_type.scss */
a, a:visited {
  color: black;
  text-decoration: none; }
  /* line 31, ../scss/_type.scss */
  a:hover, a:visited:hover {
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    color: #b22b14; }

/* line 37, ../scss/_type.scss */
a.name {
  font-size: 2em;
  line-height: 1.5em;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: .1em; }
  @media (min-width: 480px) {
    /* line 37, ../scss/_type.scss */
    a.name {
      font-size: 2.66667em;
      line-height: 1.125em;
      line-height: 1.125em; } }
  /* line 46, ../scss/_type.scss */
  a.name:hover {
    color: black; }

/* line 52, ../scss/_type.scss */
a.logo:hover {
  color: #00b26b; }

/* line 57, ../scss/_type.scss */
.tagline {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  color: white;
  font-size: 3.05556em;
  line-height: 1.30909em;
  line-height: 1.30909em; }
  @media (min-width: 650px) {
    /* line 57, ../scss/_type.scss */
    .tagline {
      font-size: 4.16667em;
      line-height: 1.2em;
      line-height: 1.44em; } }

/* line 1, ../scss/_page.scss */
html {
  background: url(../img/mountain.jpg) no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* line 13, ../scss/_page.scss */
.container {
  width: 95%;
  max-width: 45em;
  margin: 0 auto; }

/* line 19, ../scss/_page.scss */
.content {
  display: block;
  width: 100%; }

/* line 24, ../scss/_page.scss */
.social {
  padding: 1em .5em; }
  @media (min-width: 480px) {
    /* line 24, ../scss/_page.scss */
    .social {
      padding: 1em; } }

/* line 1, ../scss/_header.scss */
.site-header {
  text-align: center;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 0.5em; }

/* line 10, ../scss/_header.scss */
.name {
  text-align: center; }

/* line 14, ../scss/_header.scss */
.fa-stack {
  vertical-align: -20%; }

/* line 18, ../scss/_header.scss */
.site-navigation {
  float: right;
  width: 100%; }

/* line 23, ../scss/_header.scss */
ul.navigation {
  list-style: none; }
  /* line 25, ../scss/_header.scss */
  ul.navigation li {
    padding-top: .5em;
    float: left;
    width: 33%; }
