table {
  display: none;
}

#tasks, .image {
  display: none;
}

.image {
	padding-top: 2em;
}

body {
	//background: url(../img/bg.png);
	background-color: #323A45;
	color: #41424B;
}

.list, .image {
	background: url(../img/bg.png);
	border-radius: .5em;
	padding: .5em 2em 2em 2em;
	margin: 1em auto;
}

h1, h2, p {
	color: #E14F43;
}

.btn-primary {
	background-color: #E14F43;
	border-color: #E14F43;;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background-color: #323A45;
	border-color: #323A45;
}

table {
	background-color: white;
	margin: .5em 0;
	border-radius: 4px;
}

thead>tr>td {
	font-weight: bold;
	text-align: center;
}

tbody>tr {
	text-align: center;
}

ul.lists {
	list-style: none;
	margin: 0 0 1em 0;
	padding: 0;
}

ul.lists li {
	padding: .5em 1em;
	margin: .25em 0;
	background-color: #323A45;
	border-radius: 4px;
	width: 100%;
	color: white;
}

ul.lists li:hover {
	background-color: #E14F43;
} 

.stress-alert {
	text-align: center;
	font-size: 2em;
	color: #E14F43;
}