version: 2.1
jobs:
  lint:
    docker:
      - image: circleci/node:12.16.3
    steps:
      - checkout
      - run:
          name: install
          command: yarn
      - run:
          name: lint
          command: yarn lint
  test:
    docker:
      - image: circleci/node:12.16.3
    steps:
      - checkout
      - run:
          name: install
          command: yarn
      - run:
          name: test
          command: 'yarn test --collectCoverage=true'
      - store_artifacts:
          path: coverage
          prefix: coverage
      
workflows:
  version: 2.1
  lint_and_test:
    jobs:
      - lint
      - test