<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title-tag }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <meta name="description" content="{{ page.description }}">

      {% include og-tags.html %}

      <link href='http://fonts.googleapis.com/css?family=Lato:400,400italic' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/css/normalize.css">
      <link rel="stylesheet" href="/css/font-awesome.min.css">
      <link rel="stylesheet" href="/css/global.css">

      <link rel="author" href="https://plus.google.com/u/0/+NickBernard503/posts">

      <script src="/js/vendor/jquery-1.11.1.min.js"></script>
      <script src="/js/scripts.js"></script>

      {% include ga-tags.html %}
  </head>
