fa-li
  top: 30%

ul.social li
  font-size: 1.22222em
  line-height: 1.63636em
  line-height: 1.63636em

.content
  margin-left: 24rem

.site-header
  background-color: #333
  background-color: $gray
  width: 22rem
  position: fixed
  top: 0
  bottom: 0
  left: 0

.both
  color: #e24b3b

.site-title
  text-align: center

.header-content
  width: 100%
  margin: 0 auto
  position: absolute
  top: 5rem

.container
  padding: 1rem
