html
  // background: url("../img/tweed.png")
  background: $dark-grey

.home
  height: auto
  display: flex
  align-items: center
  justify-content: center

.about
  flex: 1

ul.social
  list-style: none
  li
    display: inline-block
    padding: 0 1em
    &:first-child
      padding-left: 0
    &:last-child
      padding-right: 0
  .fa
    font-size: 1.5em
  @media (#{$bp-larger-than-desktop})
    li
      padding: 0 2em
    .fa
      font-size: 3em
