$text: #fff

html
  font-size: 80%
  text-align: center

body
  color: $light-grey

.title
  text-transform: uppercase
  letter-spacing: .2em
  border-bottom: 4px solid
  padding-bottom: .2em
  text-shadow: 1px 1px 0px black, 2px 2px 0px black, 3px 3px 0px black, 4px 4px 0px black, 5px 5px 0px black
a
  text-decoration: none
