.wrapper {
  position: relative;
}

.wrapperLoaded {
  overflow: hidden;
}

.placeholder {
  width: 100%;
  filter: blur(25px);
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.placeholderLoaded {
  opacity: 0;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
}
